body { 
    background-color:  hsl(212, 45%, 89%); 
    font-family:"Outfit", sans-serif; 
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card { 
    background-color: hsl(0, 0%, 100%); 
    max-width: 282px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    
}

.card-img { 
    max-width: 100%;
    border-radius: 10px;
}

.card h2 { 
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.35rem; 
}

.card p { 
    font-size: 1.03rem;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
}